WaterDoor_hw/WaterDoor.bak
Led_hw/LedSns.bak
WaterDoor_hw/WaterDoor.kicad_pcb-bak
WaterDoor_hw/WaterDoor.dsn
WaterDoor_hw/WaterDoor.ses
Led_hw/LedSns.dsn
Led_hw/LedSns.kicad_pcb-bak
Led_hw/LedSns.ses
